// all font path
$icon-font-path:        "../fonts/";
$image-path:            "../images/";

// Grid settings
$grid-columns:          12;

// flexbox
$enable-flex:           true !default;

// multiple grid
$multiple-grid: (
  columns_1: 16,
  columns_2: 20
);
$enable-multi-grid:     true;

// Colors
$brand-primary:         #00af50;
$gray-base:             #000;
$gray-darker:           lighten($gray-base, 13.5%);
$gray-light:            lighten($gray-base, 46.7%);
$gray-lighter:          lighten($gray-base, 93.5%);
$overlay-background:    rgba($gray-darker,.95);
$flyout-background:     $gray-lighter;


// fontsize
//$font-size-base:        16px;

// transition
$transition:            ease-in-out;
$transition-speed:      400ms;
$animation-base:        $transition-speed $transition;
$animation-fast:        ($transition-speed / 2) $transition;
$animation-slow:        ($transition-speed * 2) $transition;

// dimensions
$grid-padding:              15px;
$spinner-width:             80px;
$spinner-height:            80px;
$content-wrapper-padding:   15px;
